i {
  display: inline-block;
}

.icon-dropdown {
  width: get-vw($desktop, 16px);
  height: get-vw($desktop, 16px);
  mask: url("../assets/svg/arrow-dropdown.svg") no-repeat;
  mask-size: get-vw($desktop, 16px) get-vw($desktop, 16px);
  -webkit-mask:url("../assets/svg/arrow-dropdown.svg") no-repeat;
  -webkit-mask-size: get-vw($desktop, 16px) get-vw($desktop, 16px);
  background-color: #000;
}

.icon-close {
  width: get-vw($desktop, 10px);
  height: get-vw($desktop, 10px);
  mask: url("../assets/svg/close.svg") no-repeat;
  mask-size: get-vw($desktop, 10px) get-vw($desktop, 10px);
  -webkit-mask:url("../assets/svg/close.svg") no-repeat;
  -webkit-mask-size: get-vw($desktop, 10px) get-vw($desktop, 10px);
  background-color: #fff;
}
